@keyframes shine {
  0% { transform: translateX(-100%); opacity: 0.1; }
  50% { opacity: 0.4; }
  100% { transform: translateX(200%); opacity: 0; }
}

.animate-shine {
  animation: shine 1s ease-out forwards;
}

@keyframes pingSlow {
  0% { transform: scale(0.9); opacity: 0.9; }
  50% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(0.9); opacity: 0; }
}

.animate-pingSlow {
  animation: pingSlow 1.6s ease-out forwards;
}
